@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: hsl(var(--background));
}